@model TestProject.Models.AlgorithmModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h4>Calculator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="a" class="control-label"></label>
                <input asp-for="a" class="form-control" />
                <span asp-validation-for="a" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="b" class="control-label"></label>
                <input asp-for="b" class="form-control" />
                <span asp-validation-for="b" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Select Function</label>
                @Html.DropDownListFor(m=> m.FunctionType, ViewBag.EnumList as SelectList, new { @id = "FunctionType", @class = "form-control", @name = "FunctionType" })               
                <span asp-validation-for="FunctionType" class="text-danger"></span>
            </div>

            <div class="form-group">
            </div>
            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
